/* O Container é quem manda no tamanho e posição agora */
header {
  width: 100%; /* Ocupa toda a largura da tela */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  background-color: rgba(2, 16, 54, 0.13);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);
  gap: 3rem;
}

.input-container {
  width: 90%; /* Ocupa 90% da largura do header */
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly; /* Distribui os botões uniformemente */ 

}

button {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(1, 9, 28, 0.223);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 20px;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .input-container {
    width: 100%;
  }
}

@media (min-width: 590px) and (max-width: 768px) {
  .input-container {
    width: 100%;
  }
}

@media (min-width: 470px) and (max-width: 589px) {
  .input-container {
    width: 100%;
  }
}

@media (min-width: 451px) and (max-width: 469px) {
  .input-container {
    width: 100%;
    padding: 2rem;
  }
}

@media (min-width: 0px) and (max-width: 450px) {

  .input-container {
    width: 100%;
  }                                           
}
